*{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    text-decoration:none;
    color: white;
}

.bgchange { background-color: #fff}

 .drop-1{
    background-image: url(images/embarq-bg-img.jpg);
    background-size: cover;
}

.nav-item{
    font-family: 'Inter';
}

.heading{
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: bold;
}

.quotes-para{
    font-family: 'Inter';
    font-weight: thin;
    font-size: 22px;
}

.quotes{
    background-color: rgb(252, 251, 251);
}

.Embarq{
    background-image: url(images/embarq-bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.Embarq-para{
    font-family: 'Inter';
    font-weight: thin;
    font-size: 22px;
}

.btn-1{
    text-align: center;
}

.ready{
    background-color: black
}

.ready-para{
    font-weight: thin;
    font-size: 42px;
    font-weight: 900;
    font-family: 'Cormorant', serif;
}

.footer{
    background-color: rgb(243, 234, 235);
    background-size: cover;
}

.btn-2{
    color: white;
    background-color: rgb(250, 178, 114);
    margin-left: 5px;
    font-family: 'Inter';
    font-size: 15px;  
}

@media screen and (max-width: 767px) {
    .header{
        background-color: #fff;
    }
    
    .logo-img{
        display: none;
    }

    .banner-img{
        height: 50vh;
    }

    .Embarq{
        height: 90vh;
    }

    .ready-para{
        font-size: 38px;
    }

    .card-title{
        text-align: center !important;
    }

    .text-start{
        text-align: center !important;
    }
}
